@model Pizza
@{
    Layout = "_MioLayout";
}
               <div class="container align-content-center">
          <div class="row">
            <div class="col-1">    </div>
            <div class="col-10 align-content-center">
              <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                     <div class="col-md-4">
                         <img src="@Model.Image" class="img-thumbnail img-fluid Image" alt="pizza_margherita">
                     </div>
                     <div class="col-md-8">
                        <div class="card-body bg-opacity-10">
                           <h5 class="card-title text-danger Title">@Model.Title</h5>
                           <p class="card-text Price"><span class="badge bg-success"> € @Model.Price</span></p>
                           <p class="card-text Description">@Model.Description</p>
                        </div>