@model Pizza
@{
    Layout = "_MioLayout";
}
                <div class="card-body p-0 bg-opacity-50">
                    <h5 class="card-title bg-warning text-white p-2">@Model.Title</h5>
                    <p class="card-text text-center p-3">@Model.Description</p>
                    <hr class="m-0" >
                    <p class="text-warning p-0 m-0 fs-6" >ATTE </p>
                    <p class="p-4"> <b>@Model.Price €</b></p>
                </div>
            </div>
    </div>
</div>